<nav class="navbar bg-body-tertiary">
    <div class="container-fluid" style="margin-left: 170px; margin-right: 170px;">
      <a class="navbar-brand fs-2" style="color: #40A2E3; font-weight: 900;">Navbar</a>
      <div class="d-flex gap-5 align-items-center">
          <div>
            <form class="d-flex" role="search" action="http://localhost:8080/car/search" method="post">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="nameCar">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
          <div>
            <a href="http://localhost:8080/user/infoUser"><i class="fa-solid fa-user" style="padding: 10px; border: 2px solid #40A2E3; border-radius: 50px;"></i></a>
          </div>
      </div>
    </div>
  </nav>